/* Make the login page responsive */
.login-container {
  flex-wrap: wrap;
  margin-top: 5rem;
}

.login-card {
  width: 100%;
  max-width: 500px;
}

.login-illustration {
  width: 100%;
  max-width: 100rem;
  height: auto;
  border-radius: 1rem;
}

.login-error {
  background-color: rgba(255, 0, 0, 0.1);
  border: 1px solid red;
  color: rgb(218, 78, 78);
  padding: 1rem;
  border-radius: 0.5rem;
  font-size: 0.875rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

/* Hide illustration on medium and small screens */
@media (max-width: 1024px) {
  .login-container {
    gap: 2rem;
    padding: 1rem;
  }

  .login-illustration {
    display: none;
  }
}

/* Extra small screens adjustments */
@media (max-width: 480px) {
  .login-card {
    padding: 1rem;
    gap: 1rem;
  }

  .login-header h1 {
    font-size: 1.5rem;
  }

  .login-header p {
    font-size: 0.875rem;
  }
}
