.myProfile-section {
  background-color: rgb(250, 250, 250);
  margin-top: 15rem;
  margin-bottom: 15rem;
  border-radius: 1rem;
  width: 100%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* For desktop screens (min-width: 768px for example) */
@media (min-width: 768px) {
  .myProfile-section {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}
